/* BASIC STYLES HERE */
.profile-picture {
  height: 200px;
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.profile-picture.profile-picture-sm {
  height: 64px;
}

.quote-author {
  opacity: 0;
  transition: all .5s linear;
  filter: blur(20px);
}

.page-quote {
  opacity: 10;
}

.page-quote:hover+.quote-author {
  opacity: 1;
  filter: blur(0px);
  transition: all .5s linear;
}