/* BASIC STYLES HERE */
.profile-picture {
  height: 200px;
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.profile-picture.profile-picture-sm {
  height: 64px;
}

.quote-author {
  opacity: 0;
  transition: all .5s linear;
  filter: blur(20px);
}

.page-quote {
  opacity: 10;
}

.text-readability {
  text-shadow: 2px 2px 3px rgb(0, 0, 0);
  color: whitesmoke;
}

.page-quote:hover+.quote-author {
  opacity: 1;
  filter: blur(0px);
  transition: all .5s linear;
}

.weather-card {
  background-color: black;
  border: 2px solid white;
  color: white;
  height: 70%;
}

.dark-glass {
  background-color: rgba(8, 8, 8, 0.603);
  backdrop-filter: blur(15px);
}

.main-card {
  background-color: rgba(8, 8, 8, 0.603);
  backdrop-filter: blur(15px);
}

body {
  background-size: cover;
}