<section class="container-fluid">

  <div id="toDoContainer" class="row justify-content-end" hidden>
    <div class="col-md-3 col-10 mt-3">
      <div class="shadow px-3 py-2 rounded">

        <div class="d-flex">
          <h4 class="text-start me-auto ps-2">Tasks Remaining: </h4>
          <h4 id="toDoNumber" class="text-end pe-2 me-auto">0</h4>
        </div>


        <div class="row">
          <div class="col-12">
            <div>

              <!-- ANCHOR New ToDo form -->
              <form onsubmit="app.ToDosController.makeNewToDo()" class="mt-2">
                <div class="input-group mb-3">
                  <input name="description" type="text" class="form-control" placeholder="Add Task"
                    aria-label="Add Task" required minlength="3" maxlength="500">
                  <button class="btn btn-outline-dark" type="submit"><i class="mdi mdi-plus"></i></button>
                </div>
              </form>

              <!-- ANCHOR ToDo List -->
              <div id="toDoList" class="row">
                <!-- SECTION todo template draws here -->
                <!-- <div class="col-12">
                  <div class="form-check d-flex align-items-center">
                    <input class="form-check-input me-2" type="checkbox" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Don't Stink at Coding
                    </label>
                    <button class="btn btn-outline-danger ms-auto"><i class="mdi mdi-delete-forever"></i></button>
                  </div>
                </div> -->
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>